<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/ESTIGARRIBIA BRUNO.jpg" class="img-fluid" id="fotodeperfil"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">       
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Bruno Alvaro Mariano Estigarribia
            <br>
            <br>
            Full Stack Developer Jr
        </p>        
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti at, ullam unde, est minus labore numquam fugit nisi nostrum quaerat reprehenderit explicabo sed ut dolorem facilis doloremque omnis error excepturi.

            </p>
        </span>
    </div>
</div>