<div class="row">
    <h1>Hards & Soft skills</h1>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'20px'"
        [subtitle]="'HTML'"
        [subtitleColor]="'black'"
        [subtitleFontWeight]="'bold'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#07135F'"
        [innerStrokeColor]="'#209FC4'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'20px'"
        [subtitle]="'HTML'"
        [subtitleColor]="'black'"
        [subtitleFontWeight]="'bold'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#07135F'"
        [innerStrokeColor]="'#209FC4'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>    
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'20px'"
        [subtitle]="'HTML'"
        [subtitleColor]="'black'"
        [subtitleFontWeight]="'bold'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#07135F'"
        [innerStrokeColor]="'#209FC4'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'20px'"
        [subtitle]="'HTML'"
        [subtitleColor]="'black'"
        [subtitleFontWeight]="'bold'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#07135F'"
        [innerStrokeColor]="'#209FC4'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'20px'"
        [subtitle]="'HTML'"
        [subtitleColor]="'black'"
        [subtitleFontWeight]="'bold'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#07135F'"
        [innerStrokeColor]="'#209FC4'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'20px'"
        [subtitle]="'HTML'"
        [subtitleColor]="'black'"
        [subtitleFontWeight]="'bold'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#07135F'"
        [innerStrokeColor]="'#209FC4'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>

</div>