<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h3>Trabajo 1</h3> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sit doloremque nulla eius earum. Molestias vel dignissimos possimus animi ipsam sed qui odio eaque eum accusamus, dolorum odit quo corporis.</p>
        </ul>
        <ul>
            <li><h3>Trabajo 2</h3> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sit doloremque nulla eius earum. Molestias vel dignissimos possimus animi ipsam sed qui odio eaque eum accusamus, dolorum odit quo corporis.</p>
        </ul>
        <ul>
            <li><h3>Trabajo 3</h3> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sit doloremque nulla eius earum. Molestias vel dignissimos possimus animi ipsam sed qui odio eaque eum accusamus, dolorum odit quo corporis.</p>
        </ul>
    </div>

</div>